<div class="card-tarefa" [@mudanca-cor]='estado'>
  <div>
    <h5 [ngClass]="{'tarefa-feita': tarefaModel?.isFeita}">{{tarefaModel?.titulo}}</h5>
  </div>
  <div>
    <button class="btn" *ngIf="!tarefaModel?.isFeita" (click)="fazerTarefa()">
      <i-bs name="check-circle-fill" style="color: chartreuse;" width="30" height="30">
      </i-bs>
    </button>
    <button class="btn" *ngIf="tarefaModel?.isFeita" (click)="desfazerTarefa()">
      <i-bs name="chevron-left" style="color: rgb(46, 46, 46);" width="30" height="30">
      </i-bs>
    </button>
    <button class="btn esquerda" (click)="deletar()">
      <i-bs name="trash-fill" style="color: rgb(46, 46, 46);" width="30" height="30">
      </i-bs>
    </button>
  </div>
</div>
