<div>
  <div>
    <div class="container espacamento-topo">
      <div class="row">
        <div class="col">
          <div class="conteudo" [@animacao-frase]='estado'>
            <h1><img src="assets/images/trophy.png" alt=""> Objetivo do Dia App</h1>
            <p>Conquiste seus objetivos, vença os obstaculos a cada dia. Um passo de cada vez. quem sabe aonde um passo
              o levará?</p>
          </div>
        </div>
        <div class="col-sm-4" [@card-login]='estado'>
          <app-realizar-login></app-realizar-login>
        </div>
      </div>
    </div>
  </div>
</div>
