.card-component {
  margin-top: 30px;
}

.imagem {
  background-image: url("../../../assets/images/trofeu.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
