<div class="container" [@lista-animacao]='estado'>
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a [routerLink]="['/meus-objetivos']" routerLinkActive="router-link-active"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4"><img src="assets/images/trophy.png" alt=""> Objetivo do Dia App</span>
    </a>

    <ul class="nav nav-pills">
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-default dropdown-toggle"
          aria-controls="dropdown-basic">
          {{nomeUsuarioLogado()}} <i-bs name="person-circle" width="20" height="20">
          </i-bs> <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/meus-dados']"
              routerLinkActive="router-link-active">Meus dados <i-bs name="pencil-square" width="20" height="20">
              </i-bs></a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/meus-objetivos']"
              routerLinkActive="router-link-active">Meus objetivos <i-bs name="trophy" width="20" height="20">
              </i-bs></a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/grafico-objetivos-concluidos']"
              routerLinkActive="router-link-active">Gráfico dos objetivos concluidos
              <i-bs name="bar-chart-line-fill" width="20" height="20">
              </i-bs>
            </a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/deletar-conta']"
              routerLinkActive="router-link-active">Deletar Conta <i-bs name="trash" width="20" height="20">
              </i-bs></a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" (click)="sair()" [routerLink]="['/login']"
              routerLinkActive="router-link-active">Sair <i-bs name="box-arrow-left" width="20" height="20">
              </i-bs></a>
          </li>
        </ul>
      </div>
    </ul>
  </header>
</div>
