<div>
  <h3 class="text-center">Crie uma nova conta</h3>
</div>

<div class="card-component">
  <div class="instrucao">
    <h3>Inscrever-se</h3>
    <p>por favor preencha este formulário para criar uma conta</p>
  </div>
  <div>
    <form [formGroup]="formulario">
      <div class="input-group espacamento">
        <div class="input-group-prepend">
          <span class="input-group-text" id="email">
            <img src="assets/images/usuario.png" height="23" alt="">
          </span>
        </div>
        <input type="text" [ngClass]="getCssFormulario('nome')" formControlName="nome" class="form-control" id="nome"
          placeholder="Informe seu nome">
        <div *ngIf="formulario.get('nome')?.getError('required')" class="invalid-feedback">
          {{mensagemDeCampoObrigatorio('Nome')}}
        </div>
        <div *ngIf="formulario.get('nome')?.getError('minlength') || formulario.get('nome')?.getError('maxlength')"
          class="invalid-feedback">
          {{mensagemDeTamanhoMinimoEMaximo('Nome', 3, 255)}}
        </div>
      </div>
      <div class="input-group espacamento">
        <div class="input-group-prepend">
          <span class="input-group-text" id="email">
            <img src="assets/images/email.png" height="23" alt="">
          </span>
        </div>
        <input type="email" [ngClass]="getCssFormulario('email')" formControlName="email" class="form-control"
          id="email" placeholder="Informe seu e-mail">
        <div *ngIf="formulario.get('email')?.getError('required')" class="invalid-feedback">
          {{mensagemDeCampoObrigatorio('Email')}}
        </div>
        <div *ngIf="formulario.get('email')?.getError('minlength') || formulario.get('email')?.getError('maxlength')"
          class="invalid-feedback">
          {{mensagemDeTamanhoMinimoEMaximo('Email', 1, 255)}}
        </div>
        <div *ngIf="formulario.get('email')?.getError('email')" class="invalid-feedback">
          {{mensagemCampoInvalido('Email')}}
        </div>
      </div>
      <div class="input-group espacamento">
        <div class="input-group-prepend">
          <span class="input-group-text" id="email">
            <img src="assets/images/senha.png" height="23" alt="">
          </span>
        </div>
        <input type="password" [ngClass]="getCssFormulario('senha')" formControlName="senha" class="form-control"
          id="senha" placeholder="Informe sua senha">
        <div *ngIf="formulario.get('senha')?.getError('required')" class="invalid-feedback">
          {{mensagemDeCampoObrigatorio('Senha')}}
        </div>
        <div *ngIf="formulario.get('senha')?.getError('minlength') || formulario.get('senha')?.getError('maxlength')"
          class="invalid-feedback">
          {{mensagemDeTamanhoMinimoEMaximo('Senha', 1, 255)}}
        </div>
      </div>
      <div class="input-group espacamento">
        <div class="input-group-prepend">
          <span class="input-group-text" id="email">
            <img src="assets/images/senha.png" height="23" alt="">
          </span>
        </div>
        <input type="password" [ngClass]="getCssFormulario('confirmacaoSenha')" formControlName="confirmacaoSenha"
          class="form-control" id="confirmacao-senha" placeholder="Confirme sua senha">
        <div *ngIf="formulario.get('confirmacaoSenha')?.getError('required')" class="invalid-feedback">
          {{mensagemDeCampoObrigatorio('Confirmação da Senha')}}
        </div>
        <div
          *ngIf="formulario.get('confirmacaoSenha')?.getError('minlength') || formulario.get('confirmacaoSenha')?.getError('maxlength')"
          class="invalid-feedback">
          {{mensagemDeTamanhoMinimoEMaximo('Confirmação da Senha', 1, 255)}}
        </div>
      </div>
      <button type="submit" [disabled]="formulario.invalid" (click)="realizarCadastro()"
        class="btn btn-success botao-cadastro">Cadastrar</button>
      <div>
        <p class="text-center">Deseja realizar o login? <a class="link-primary link-cursor"
            (click)="realizarLogin()">login</a></p>
      </div>
    </form>
  </div>
</div>
