<div class="card-anotacao" style="width: 18rem;">
  <div>
    <h5 class="card-title text-center">{{anotacaoModel?.titulo}}</h5>
    <hr>
  </div>
  <div [innerHtml]="anotacaoModel?.conteudoResumo" class="card-conteudo">
  </div>
  <div>
    <hr>
    <span class="card-descricao">Data criação: {{anotacaoModel?.dataCriacao |date}}</span>
    <span class="card-descricao">Data Modificação: {{anotacaoModel?.dataModificacao |date}}</span>
    <hr>
  </div>
  <div class="botoes">
    <button class="btn" [routerLink]="['/anotacao-input/', anotacaoModel?.id]">
      <i-bs name="pencil-fill" style="color: rgb(8, 0, 116);" width="30" height="30">
      </i-bs>
    </button>
    <button class="btn" (click)="openModal(confirmTemplate)">
      <i-bs name="trash-fill" style="color: rgb(255, 47, 47);" width="30" height="30">
      </i-bs>
    </button>
  </div>
</div>

<ng-template #confirmTemplate>
  <div class="modal-body text-center">
    <p>Deseja realmente deletar esta Anotação?</p>
    <button type="button" class="btn btn-default" (click)="deletar()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="modalRef?.hide()">No</button>
  </div>
</ng-template>
