<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{anotacaoModel?.titulo}}</h5>
    <p class="card-text">{{anotacaoModel?.conteudoResumido}}</p>
    <hr>
    <h6>Data criação: {{anotacaoModel?.dataCriacao |date}}</h6>
    <h6>Data Modificação: {{anotacaoModel?.dataModificacao |date}}</h6>
    <hr>
    <button class="btn btn-primary" [routerLink]="['/anotacao-input/', anotacaoModel?.id]"
   >Editar</button>
    <button class="btn btn-danger">Deletar</button>
  </div>
</div>
