.card-anotacao {
  width: 18rem;
  border: 1px solid rgb(192, 192, 192);
  padding: 10px 10px;
  margin: 5px 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  .card-conteudo {
    height: 150px;
    white-space: normal;
    width: 100%;
    overflow: hidden; /* "overflow" value must be different from "visible" */

    text-overflow: ellipsis;
  }
  .botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.card-descricao{
  display: block;
  font-size: 13px;
  color: #3e3e3e;
}
