<div class="card-objetivo" [ngClass]="{'objetivo-concluido': objetivoModel?.porcentagem == 100}">
  <div [routerLink]="['/meus-objetivos/' + objetivoModel?.id + '/minhas-tarefas']" class="area-clicavel item-chart" >
    <circle-progress [percent]=objetivoModel!.porcentagem [radius]="45" [outerStrokeWidth]="5" [innerStrokeWidth]="5"
      [outerStrokeColor]="corProgresso()" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="1000">
    </circle-progress>
  </div>
  <div [routerLink]="['/meus-objetivos/' + objetivoModel?.id + '/minhas-tarefas']" class="item">
    <h6>{{objetivoModel?.titulo}} - {{objetivoModel?.porcentagem}}%</h6>
    <p class="info">{{objetivoModel?.data | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
  </div>
  <div>
    <button type="button" class="btn btn-primary botao" (click)="openModal(template)" data-bs-toggle="modal"
      data-bs-target="#editarModal">
      <i-bs name="pencil-square" width="20" height="20">
      </i-bs>
    </button>
    <button class="btn btn-danger" (click)="openModal(confirmTemplate)">
      <i-bs name="trash-fill" width="20" height="20">
      </i-bs>
    </button>
  </div>
</div>

<ng-template #confirmTemplate>
  <div class="modal-body text-center">
    <p>Deseja realmente deletar este Objetivo?</p>
    <button type="button" class="btn btn-default" (click)="deletarPorId()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="modalRef?.hide()">No</button>
  </div>
</ng-template>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Objetivo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()">
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioEditar">
      <div class="form-group">
        <span>Titulo</span>
        <input type="text" formControlName="titulo" class="form-control">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Fechar</button>
    <button type="button" class="btn btn-primary" [disabled]="formularioEditar.invalid"
      (click)="editar()">Editar</button>
  </div>
</ng-template>
