<div class="card-objetivo">
  <div>
    <h6>{{objetivoModel?.titulo}}</h6>
    <p class="info">{{objetivoModel?.data | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
  </div>
  <div>
    <button type="button" class="btn btn-primary botao"  data-bs-toggle="modal"
      data-bs-target="#editarModal">
      Editar
    </button>
    <button class="btn btn-danger" (click)="deletarPorId()">
      Deletar
    </button>
  </div>
</div>

<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarModal">Objetivo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="formulario">
          <div class="form-group">
            <span>Titulo</span>
            <input type="text" formControlName="titulo" class="form-control">
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="formulario.invalid"
          (click)="editar()">Editar</button>
      </div>
    </div>
  </div>
</div>

