.card-objetivo {
  border: 1px solid rgb(221, 218, 218);
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  padding: 10px 5px;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
}

.objetivo-concluido {
  color: white;
}

.area-clicavel {
  cursor: pointer;
}

.botao {
  margin-right: 10px;
}

.item-chart {
  margin-right: 30px;
}

.item {
  flex-grow: 3;
  cursor: pointer;
}
