<div>
  <h3 class="text-center">Tela de Login</h3>
</div>

<div class="card-component">
  <div>
    <form [formGroup]="formularioDeLogin">
      <div class="input-group espacamento">
        <div class="input-group-prepend">
          <span class="input-group-text" id="email">
            <img src="assets/images/email.png" height="23" alt="">
          </span>
        </div>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="E-mail">
      </div>

      <div class="input-group">
        <span class="input-group-text" id="email">
          <img src="assets/images/senha.png" height="23" alt="">
        </span>
        <input type="password" formControlName="senha" class="form-control" id="senha" placeholder="Senha">
      </div>
      <button type="submit" (click)="realizarLogin()" class="btn btn-primary botao-entrar"
        [disabled]="formularioDeLogin.invalid">Entrar</button>
      <div>
        <p class="text-center">É novo aqui? <a class="link-primary link-cursor" (click)="realizarCadastro()">Criar uma
            conta</a></p>
      </div>
      <div class="esqueceu-senha">
        <p class="text-center" (click)="openModal(esqueceusenha)" style="margin-top: 15px;"><a
            class="link-primary link-cursor">Esqueceu a senha?</a></p>
      </div>
    </form>
  </div>
</div>

<ng-template #esqueceusenha>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Esqueceu a senha</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Informe seu email, que enviaremos uma nova senha.</p>
    <form [formGroup]="formularioDoEmail">
      <input type="email" formControlName="email" class="form-control" placeholder="Informe o email">
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn" (click)="modalRef.hide()">Cancelar</button>
    <button class="btn btn-primary" (click)="enviarNovaSenha()" [disabled]="formularioDoEmail.invalid">Enviar nova
      senha</button>
  </div>
</ng-template>
