<div>
  <h3 class="text-center">Tela de Login</h3>
</div>

<div class="card-component">
  <div>
    <form [formGroup]="formularioDeLogin">
      <div class="input-group espacamento">
        <div class="input-group-prepend">
          <span class="input-group-text" id="email">
            <img src="assets/images/email.png" height="23" alt="">
          </span>
        </div>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="E-mail">
      </div>

      <div class="input-group">
        <span class="input-group-text" id="email">
          <img src="assets/images/senha.png" height="23" alt="">
        </span>
        <input type="password" formControlName="senha" class="form-control" id="senha" placeholder="Senha">
      </div>
      <button type="submit" (click)="realizarLogin()" class="btn btn-primary botao-entrar"
        [disabled]="formularioDeLogin.invalid">Entrar</button>
      <div>
        <p class="text-center">É novo aqui? <a class="link-primary link-cursor" (click)="realizarCadastro()">Criar uma
            conta</a></p>
      </div>
    </form>
  </div>
</div>
